<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
  <body>
    <nav>
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/resume">Resume</a></li>
	<li><a href="/hangul">한글/a></li> 
	<!-- <li><a href="/contact">Contact</a></li> -->
	</ul>
      </nav>
    <div class="container">
      
      {{ content }}
      
      </div><!-- /.container -->
    <footer>
      <ul>
	<li><a href="mailto:hkng248@gmail.com">Email</a></li>
	<li><a href="https://github.com/hkng248">GitHub</a></li>
	<li><a href="https://instagram.com/haitaing">Instagram</a></li>
	<li><a href="https://linkedin.com/in/haitai-ng-ba518a7b/">LinkedIn</a></li>
	</ul>
      </footer>
    </body>
  </html>
